{# YTCTF Platform
{# Copyright © 2018-2019 Evgeniy Filimonov <evgfilim1@gmail.com>
{# See full NOTICE at http://github.com/YummyTacos/YTCTF #}

{% extends 'base.html' %}
{% block content %}
    <div class="dropdown">
        <button class="btn btn-outline-info dropdown-toggle float-right my-2" type="button"
                data-toggle="dropdown">
            Фильтры
        </button>
        <div class="dropdown-menu bg-info">
            <button class="dropdown-item bg-info text-light filter" data-param="type=new">
                Только нерешённые
            </button>
            <button class="dropdown-item bg-info text-light filter" data-param="type=hidden">
                Скрытые
            </button>
            <button class="dropdown-item bg-info text-light filter" data-param="type=my">
                Мои
            </button>
        </div>
    </div>
    <h1>Таски</h1>
    <div class="checker-loading" id="tasks">
        <i>Загрузка...</i>
    </div>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/categories.css') }}">
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/checker.js') }}"></script>
{% endblock %}
